.Projects p {
    text-align: left;
    text-indent: 50px;
}

.Projects a {
    color: white;
}

.Projects section:nth-child(even) {
    background: #95a5a6;
    overflow: auto;
}

.Projects body {
    margin: 5vh 12%;
}

.Projects img {
    max-width: 100%;
}