.About p {
    text-align: left;
    text-indent: 50px;
}

.About li {
    text-align: left;
}

.About a {
    color: white;
}

.About body {
    margin: 5% 10%;
}

.About img {
    width: 50vh;
    height: 50vh;
}